openapi: 3.2.0
info:
  title: Skydropx Pro Catalog API
  description: The Skydropx Pro API is a REST interface for the Skydropx multi-carrier shipping and logistics platform (Mexico and Latin America).
  version: '1.0'
  contact:
    name: Skydropx
    url: https://www.skydropx.com/
servers:
- url: https://pro.skydropx.com/api/v1
  description: Skydropx Pro production
- url: https://sb-pro.skydropx.com/api/v1
  description: Skydropx Pro sandbox
security:
- oauth2ClientCredentials: []
tags:
- name: Catalog
  description: Carrier services, packagings, and consignment-note codes.
paths:
  /shipments/carrier_services:
    get:
      operationId: listCarrierServices
      tags:
      - Catalog
      summary: List carrier services
      description: Lists the carrier services available to the account.
      responses:
        '200':
          description: Available carrier services.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /shipments/packagings:
    get:
      operationId: listPackagings
      tags:
      - Catalog
      summary: List packaging codes
      description: Lists packaging type codes usable when creating shipments.
      responses:
        '200':
          description: Packaging codes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /shipments/consignment_notes:
    get:
      operationId: listConsignmentNotes
      tags:
      - Catalog
      summary: List consignment-note codes
      description: Lists SAT Carta Porte consignment-note codes (product classes, packaging) required for applicable Mexican shipments.
      responses:
        '200':
          description: Consignment-note codes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /office_points:
    get:
      operationId: listOfficePoints
      tags:
      - Catalog
      summary: List office / drop-off points
      description: Retrieves office and drop-off point locations for a carrier or rate.
      responses:
        '200':
          description: Office points.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties: true
  responses:
    Unauthorized:
      description: Missing or invalid access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: 'OAuth2 client-credentials flow. Exchange client_id and client_secret at POST /oauth/token for a Bearer access token, sent as `Authorization: Bearer ACCESS_TOKEN`. Tokens last about two hours.'
      flows:
        clientCredentials:
          tokenUrl: https://pro.skydropx.com/api/v1/oauth/token
          scopes: {}
